<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

-   Extract information from a given web site 
-   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd

Download the webpage at the url

In [3]:
web_data = requests.get(url).text

Create a soup object

In [4]:
salary_soup = BeautifulSoup(web_data, "html5lib")
print(salary_soup.text)

Salary survey results of programming languages


table, th, td {
  border: 1px solid black;
}





Popular Programming Languages

Finding out which is the best language is a tough task. A programming language is created to solve a specific problem. A language which is good for task A may not be able to properly handle task B. Comparing programming language is never easy. What we can do, however, is find which is popular in the industry.
There are many ways to find the popularity of a programming languages. Counting the number of google searchs for each language is a simple way to find the popularity. GitHub and StackOverflow also can give some good pointers.
Salary surveys are a way to find out the programmings languages that are most in demand in the industry. Below table is the result of one such survey. When using any survey keep in mind that the results vary year on year.




No.
Language
Created By
Average Annual Salary
Learning Difficulty


1
Python
Guido van Rossum
$114,383
Easy


2
Java
James Gosling
$101,013
Easy


3
R
Robert Gentleman, Ross Ihaka
$92,037
Hard


4
Javascript
Netscape
$110,981
Easy


5
Swift
Apple
$130,801
Easy


6
C++
Bjarne Stroustrup
$113,865
Hard


7
C#
Microsoft
$88,726
Hard


8
PHP
Rasmus Lerdorf
$84,727
Easy


9
SQL
Donald D. Chamberlin, Raymond F. Boyce.
$84,793
Easy


10
Go
Robert Griesemer, Ken Thompson, Rob Pike.
$94,082
Difficult

Scrape the `Language name` and `annual average salary`.

In [5]:
table = salary_soup.find('table')
print(table)

<table>
<tbody>
<tr>
<td>No.</td>
<td>Language</td>
<td>Created By</td>
<td>Average Annual Salary</td>
<td>Learning Difficulty</td>
</tr>
<tr>
<td>1</td>
<td>Python</td>
<td>Guido van Rossum</td>
<td>$114,383</td>
<td>Easy</td>
</tr>
<tr>
<td>2</td>
<td>Java</td>
<td>James Gosling</td>
<td>$101,013</td>
<td>Easy</td>
</tr>
<tr>
<td>3</td>
<td>R</td>
<td>Robert Gentleman, Ross Ihaka</td>
<td>$92,037</td>
<td>Hard</td>
</tr>
<tr>
<td>4</td>
<td>Javascript</td>
<td>Netscape</td>
<td>$110,981</td>
<td>Easy</td>
</tr>
<tr>
<td>5</td>
<td>Swift</td>
<td>Apple</td>
<td>$130,801</td>
<td>Easy</td>
</tr>
<tr>
<td>6</td>
<td>C++</td>
<td>Bjarne Stroustrup</td>
<td>$113,865</td>
<td>Hard</td>
</tr>
<tr>
<td>7</td>
<td>C#</td>
<td>Microsoft</td>
<td>$88,726</td>
<td>Hard</td>
</tr>
<tr>
<td>8</td>
<td>PHP</td>
<td>Rasmus Lerdorf</td>
<td>$84,727</td>
<td>Easy</td>
</tr>
<tr>
<td>9</td>
<td>SQL</td>
<td>Donald D. Chamberlin, Raymond F. Boyce.</td>
<td>$84,793</td>
<td>Easy</td>
</tr>
<tr>
<td>10</td>
<td>Go</td>
<td>Robert Griesemer, Ken Thompson, Rob Pike.</td>
<td>$94,082</td>
<td>Difficult</td>
</tr>
</tbody>
</table>

In [6]:
df = pd.DataFrame()
i = 0
for row in table.find_all('tr'):
    cols = row.find_all('td')
    prog_lang = cols[1].getText()
    salary = cols[3].getText()
    df_row = [prog_lang, salary]
    print(df_row)
    df_hold = pd.DataFrame(df_row)
    df = df.append(df_hold)
    i =+ 1

df

['Language', 'Average Annual Salary']
['Python', '$114,383']
['Java', '$101,013']
['R', '$92,037']
['Javascript', '$110,981']
['Swift', '$130,801']
['C++', '$113,865']
['C#', '$88,726']
['PHP', '$84,727']
['SQL', '$84,793']
['Go', '$94,082']

                       0
0               Language
1  Average Annual Salary
0                 Python
1               $114,383
0                   Java
1               $101,013
0                      R
1                $92,037
0             Javascript
1               $110,981
0                  Swift
1               $130,801
0                    C++
1               $113,865
0                     C#
1                $88,726
0                    PHP
1                $84,727
0                    SQL
1                $84,793
0                     Go
1                $94,082

Save the scrapped data into a file named _popular-languages.csv_

In [7]:
table1 = pd.read_html(url)
print(table1)

[      0           1                                          2  \
0   No.    Language                                 Created By
1     1      Python                           Guido van Rossum
2     2        Java                              James Gosling
3     3           R               Robert Gentleman, Ross Ihaka
4     4  Javascript                                   Netscape
5     5       Swift                                      Apple
6     6         C++                          Bjarne Stroustrup
7     7          C#                                  Microsoft
8     8         PHP                             Rasmus Lerdorf
9     9         SQL    Donald D. Chamberlin, Raymond F. Boyce.
10   10          Go  Robert Griesemer, Ken Thompson, Rob Pike.

                        3                    4
0   Average Annual Salary  Learning Difficulty
1                $114,383                 Easy
2                $101,013                 Easy
3                 $92,037                 Hard
4                $110,981                 Easy
5                $130,801                 Easy
6                $113,865                 Hard
7                 $88,726                 Hard
8                 $84,727                 Easy
9                 $84,793                 Easy
10                $94,082            Difficult  ]

In [8]:
df = table1[0][1:]
df.columns = table1[0].iloc[0]
df

,No.,Language,Created By,Average Annual Salary,Learning Difficulty
1,1,Python,Guido van Rossum,"$114,383",Easy
2,2,Java,James Gosling,"$101,013",Easy
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,4,Javascript,Netscape,"$110,981",Easy
5,5,Swift,Apple,"$130,801",Easy
6,6,C++,Bjarne Stroustrup,"$113,865",Hard
7,7,C#,Microsoft,"$88,726",Hard
8,8,PHP,Rasmus Lerdorf,"$84,727",Easy
9,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
10,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

In [9]:
df = df[['Language','Average Annual Salary']].sort_values(by='Average Annual Salary').reset_index(drop=True)
df

0    Language Average Annual Salary
0        Java              $101,013
1  Javascript              $110,981
2         C++              $113,865
3      Python              $114,383
4       Swift              $130,801
5         PHP               $84,727
6         SQL               $84,793
7          C#               $88,726
8           R               $92,037
9          Go               $94,082

In [10]:
df.to_csv('popular-languages.csv')

In [11]:
import os
print (os.path.abspath("popular-languages.csv"))

/home/wsuser/work/popular-languages.csv

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).