In [11]:


import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json 

!pip install geopy
from geopy.geocoders import Nominatim

import requests
from pandas.io.json import json_normalize
from pandas import DataFrame

import matplotlib.cm as cm
import matplotlib.colors as colors


from sklearn.cluster import KMeans

!pip install folium
import folium

Requirement already satisfied: geopy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geopy) (1.50)
Requirement already satisfied: folium in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.12.1)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (2.11.2)
Requirement already satisfied: branca>=0.3.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (0.4.2)
Requirement already satisfied: numpy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (1.18.5)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (2.24.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (2.9)

In [2]:
!pip install lxml html5lib beautifulsoup4

Requirement already satisfied: lxml in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (4.5.1)
Requirement already satisfied: html5lib in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (1.1)
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (4.9.1)
Requirement already satisfied: six>=1.9 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from beautifulsoup4) (2.0.1)

In [19]:
url = 'https://en.wikipedia.org/wiki/List_of_neighborhoods_in_Dallas'
df = pd.read_html(url)
#df = DataFrame(df)

In [25]:
#type(df)
df[0]

    0                                                  1
0 NaN  This article needs additional citations for ve...

In [26]:
df[1]

    Downtown Dallas[1]            Downtown Dallas[1].1 Downtown Dallas[1].2
0                  NaN                 Baylor District                Mixed
1                  NaN                      The Cedars                Mixed
2                  NaN           Civic Center District                Mixed
3                  NaN            Dallas Arts District                Mixed
4                  NaN           Dallas Farmers Market                Mixed
5                  NaN                      Deep Ellum                Mixed
6                  NaN                 Design District                Mixed
7                  NaN            Main Street District                Mixed
8                  NaN                Reunion District           Commercial
9                  NaN             Riverfront District                Mixed
10                 NaN                      South Side                Mixed
11                 NaN  Thanksgiving Commercial Center           Commercial
12                 NaN                          Uptown                Mixed
13                 NaN                    Victory Park                Mixed
14                 NaN      West End Historic District                Mixed

In [27]:
df[2]

        East Dallas                           East Dallas.1    East Dallas.2
0               NaN            website Alger Park/Ash Creek      Residential
1               NaN                                 Belmont      Residential
2               NaN                         Buckner Terrace      Residential
3               NaN                          Caruth Terrace      Residential
4               NaN              website Casa Linda Estates      Residential
5               NaN                         Casa Linda Park      Residential
6               NaN                       website Casa View      Residential
7               NaN                         Casa View Haven      Residential
8               NaN                       website Claremont      Residential
9               NaN                          Claremont Park      Residential
10              NaN                                Eastwood      Residential
11              NaN                           Edgemont Park      Residential
12              NaN                            Forest Hills      Residential
13              NaN                             Gaston Park      Residential
14              NaN                 website Greenland Hills      Residential
15              NaN                               Hillridge      Residential
16              NaN                       Hollywood Heights      Residential
17              NaN                          Junius Heights      Residential
18              NaN               website Lake Park Estates      Residential
19              NaN                                Lakewood      Residential
20              NaN                website Lakewood Heights      Residential
21              NaN                 website Lakewood Trails      Residential
22              NaN                     Little Forest Hills      Residential
23              NaN                                Lochwood      Residential
24              NaN                        Lower Greenville      Residential
25              NaN                 North Stonewall Terrace      Residential
26              NaN                      Old Lake Highlands      Residential
27              NaN                  website Ridgewood Park      Residential
28              NaN                            Santa Monica      Residential
29              NaN                       Stonewall Terrace      Residential
30              NaN                      University Meadows      Residential
31              NaN                   website Vickery Place      Residential
32              NaN                      website White Rock      Residential
33              NaN                        Wilshire Heights      Residential
34  Old East Dallas                         Old East Dallas  Old East Dallas
35              NaN                          Baylor/Meadows            Mixed
36              NaN                            Belmont Park      Residential
37              NaN                     website Bryan Place      Residential
38              NaN                              Deep Ellum    Entertainment
39              NaN  website Munger Place Historic District      Residential
40              NaN                Peak's Suburban Addition      Residential
41              NaN                    website Swiss Avenue      Residential

In [28]:
df[3]

    Northeast Dallas             Northeast Dallas.1 Northeast Dallas.2
0                NaN                   Abrams Place        Residential
1                NaN            Alexander's Village        Residential
2                NaN        Boundbrook Oaks Estates        Residential
3                NaN                   Chimney Hill        Residential
4                NaN          Copperfield Community        Residential
5                NaN                 Country Forest        Residential
6                NaN               Forest Highlands        Residential
7                NaN                      Glen Oaks        Residential
8                NaN                  Hamilton Park        Residential
9                NaN                 Highlands West        Residential
10               NaN               Highland Meadows        Residential
11               NaN             High Oaks Addition        Residential
12               NaN                 Jackson Meadow        Residential
13               NaN              website L Streets        Residential
14               NaN                 Lake Highlands              Mixed
15               NaN         Lake Highlands Estates        Residential
16               NaN           Lake Highlands North        Residential
17               NaN          Lake Highlands Square        Residential
18               NaN             Lake Ridge Estates        Residential
19               NaN  website Merriman Park Estates        Residential
20               NaN            Merriman Park North        Residential
21               NaN                      Moss Farm        Residential
22               NaN                   Moss Meadows        Residential
23               NaN      website Northwood Heights        Residential
24               NaN                  Oak Highlands        Residential
25               NaN               Oak Tree Village        Residential
26               NaN                   Pebble Creek        Residential
27               NaN          Richland Park Estates        Residential
28               NaN                 Rolling Trails        Residential
29               NaN                Royal Highlands        Residential
30               NaN        Royal Highlands Village        Residential
31               NaN                    Stultz Road        Residential
32               NaN                     Town Creek        Residential
33               NaN             Royal Lane Village        Residential
34               NaN           Walnut Creek Estates        Residential
35               NaN       website Whispering Hills        Residential
36               NaN              White Rock Valley        Residential
37               NaN             website Woodbridge        Residential
38               NaN         Woodlands on the Creek        Residential
39               NaN               University Manor        Residential
40               NaN     website University Terrace        Residential
41               NaN          website Urban Reserve        Residential

In [29]:
df[4]

        North Dallas             North Dallas.1    North Dallas.2
0                NaN          website Bent Tree       Residential
1                NaN          website Bluffview       Residential
2                NaN         website Devonshire       Residential
3                NaN        website Elm Thicket       Residential
4                NaN     website Greenway Parks       Residential
5                NaN             Preston Center        Commercial
6                NaN     website Preston Hollow       Residential
7                NaN            Vickery Meadows       Residential
8   Far North Dallas           Far North Dallas  Far North Dallas
9                NaN          website Bent Tree       Residential
10               NaN  website Preston Highlands       Residential
11               NaN                 Timberglen       Residential
12               NaN   website Far North Dallas       Residential
13               NaN   website Melshire Estates       Residential
14               NaN    website Northwood Hills       Residential
15               NaN          Platinum Corridor        Commercial

In [30]:
df[5]

   Northwest Dallas    Northwest Dallas.1 Northwest Dallas.2
0               NaN        Arlington Park        Residential
1               NaN  Asian Trade District         Commercial
2               NaN               Bachman              Mixed
3               NaN       Design District              Mixed
4               NaN            Love Field        Residential
5               NaN       Shannon Estates        Residential
6               NaN     Stemmons Corridor         Commercial

In [31]:
df[6]

,Oak Cliff Area,Oak Cliff Area.1,Oak Cliff Area.2
0,NaN,Arcadia Park,Residential
1,NaN,Beckley Club Estates,Residential
2,NaN,website Bishop Arts District,Entertainment
3,NaN,website Elmwood,Residential
4,NaN,Stevens Park Estates,Residential
5,NaN,website Stevens Park Village,Residential
6,NaN,Tenth Street Freedman's Town,Residential
7,NaN,Western Park,Residential
8,NaN,website Winnetka Heights,Residential
9,NaN,Wynnewood,Residential
10,NaN,East Kessler Park,Residential
11,NaN,Kessler Highlands,Residential
12,NaN,Kessler Park Estates,Residential
13,NaN,Kessler Plaza,Residential
14,NaN,Kessler Square,Residential
15,NaN,website West Kessler,Residential
16,NaN,website Kidd Springs,Residential
17,NaN,website Kings Highway Conservation District,Residential
18,NaN,Lake Cliff,Residential
19,NaN,L.O. Daniel,Residential
20,Redbird,Redbird,Redbird
21,NaN,Elderwoods/Elderoaks,Residential
22,NaN,Glenn Oaks,Residential
23,NaN,Wynnewood Hills,Residential

In [32]:
df[7]

    Oak Lawn                    Oak Lawn.1   Oak Lawn.2
0        NaN                     Cityplace        Mixed
1        NaN                        Uptown        Mixed
2        NaN  website International Center   Commercial
3        NaN                         LoMac   Commercial
4        NaN                     Knox Park        Mixed
5        NaN         website Perry Heights  Residential
6        NaN                  State Thomas  Residential
7        NaN          website Turtle Creek        Mixed
8        NaN              website Oak Lawn        Mixed
9        NaN          website Victory Park        Mixed
10       NaN          website West Village        Mixed

In [33]:
df[8]

    Southeast Dallas               Southeast Dallas.1 Southeast Dallas.2
0                NaN                 Arnold's Station        Residential
1                NaN                     Buckner Park        Residential
2                NaN                        Cedar Run        Residential
3                NaN        El Barrio (Little Mexico)        Residential
4                NaN                             Elam        Residential
5                NaN                         Fireside        Residential
6                NaN                          Kleberg        Residential
7                NaN                        Lake June        Residential
8                NaN                         Parkdale        Residential
9                NaN                   Pemberton Hill        Residential
10               NaN                         Piedmont        Residential
11               NaN                   Pleasant Grove        Residential
12               NaN                   Pleasant Hills        Residential
13               NaN                   Pleasant Mound        Residential
14               NaN  Riverway Estates/Bruton Terrace        Residential
15               NaN                            Rylie        Residential
16               NaN                Seagoville/Dallas        Residential
17               NaN                           Scyene        Residential
18               NaN                    Spruce Square        Residential
19               NaN                        Urbandale        Residential
20               NaN                 Woodland Springs        Residential

In [34]:
df[9]

   Far South Dallas Far South Dallas.1 Far South Dallas.2
0               NaN             Bonton        Residential
1               NaN       Dixon Circle        Residential
2               NaN     Highland Hills        Residential

In [35]:
df[10]

   South Central Dallas South Central Dallas.1 South Central Dallas.2
0                   NaN            Cedar Crest            Residential
1                   NaN        Skyline Heights            Residential

In [36]:
df[11]

,Old South Dallas/Fair Park,Old South Dallas/Fair Park.1,Old South Dallas/Fair Park.2
0,NaN,Exposition Park,Mixed
1,NaN,Fair Park,Entertainment
2,NaN,Mill City,Residential
3,NaN,Owenwood,Residential
4,NaN,Jubilee Park,Residential
5,NaN,Dolphin Heights,Residential
6,NaN,Wheatley Place,Residential
7,NaN,Monterey Gardens,Residential\
8,NaN,Edgewood (see South Boulevard/Park Row),Residential
9,NaN,South Boulevard/Park Row,Residential
10,NaN,Magnolia Park,Residential
11,NaN,Alta Park,Residential

In [37]:
df[12]

    West Dallas              West Dallas.1 West Dallas.2
0           NaN                 Eagle Ford   Residential
1           NaN  website Greenleaf Village   Residential
2           NaN                  La Bajada   Residential
3           NaN                La L'aceate   Residential
4           NaN                    La Loma   Residential
5           NaN                  Lake West   Residential
6           NaN          Ledbetter Gardens   Residential
7           NaN                  Los Altos   Residential
8           NaN                     Muncie   Residential
9           NaN            Western Heights   Residential
10          NaN       Westmoreland Heights   Residential